<div class="wrap">
  <div class="card">
    <div class="header" *ngIf="lastLesson">
      <div class="container">
        <div class="header__time">
          <img src="assets/img/card/clock.svg" alt="">
          <h2 class="text__headline">{{lastLesson}}</h2>
        </div>
        <div class="header__text text__content">
          Before the lesson
        </div>
      </div>
    </div>

    <div class="content">
      <div class="content__desc">
        <div class="content__name">
          Garry Cloud
        </div>
        <div class="content__subject">
          Subject: English
        </div>
      </div>
      <div class="avatar" *ngIf="img">
        <img [src]="img" alt="student-img">
      </div>
    </div>

    <div class="footer">
      footer
    </div>
  </div>
</div>
