<div class="wrap">
  <div class="header" *ngIf="card.lastLesson">
    <div class="container container-header">
      <div class="header__time">
        <img src="assets/img/card/clock.svg" alt="">
        <h2 class="text__headline">{{card.lastLesson}}</h2>
      </div>
      <div class="header__text text__content">
        Before the lesson
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container container-content">
      <div class="wrap-desc">
        <div class="content-desc">
          <div class="content-desc__name">
            <p>{{card.name}}</p>
          </div>
          <div class="content-desc__subject">
            Subject:
            <span
              class="subject"
              [ngClass]="{
              'subject-blue': card.color === 'blue',
              'subject-red': card.color === 'red'
            }"
            >
            {{card.subject}}
          </span>
          </div>

          <hr>

          <div class="footer">
              <div class="footer__text">
                <p>Next Lesson</p>
              </div>
              <div class="icon date">
                <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                {{card.nextLesson.date}}
              </div>
              <div class="icon time">
                <mat-icon matDatepickerToggleIcon>query_builder</mat-icon>
                {{card.nextLesson.time}}
              </div>
            </div>
        </div>

        <div class="avatar" *ngIf="card.img">
          <img [src]="card.img" alt="student-img">
        </div>
      </div>

    </div>
  </div>
</div>
