@import "src/assets/styles/var";

.card {
  display: flex;
  width: 345px;
  height: 174px;
  flex-direction: column;
  border-radius: $border-radius;
  background: $card-student-content-background;
  box-shadow: 5px 5px 30px rgba(65, 98, 169, 0.2);
}

.content-wrap {
  padding: 0 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $card-student-content-header-height;
}

.header {
  overflow-y: hidden;
  border-radius: $border-radius $border-radius 0 0;
  background: $blue-gradient;
  color: #fff;

  &__text {
    font-weight: 700;
  }

  &__time {
    display: flex;
    align-items: center;

    img {
      position: absolute;
    }
  }
}

.container {
  display: flex;
}

