<div class="wrap" *ngIf="confirm; else empty">
  <div class="container">
    <div class="headline">
      <h2>{{confirm.title}}</h2>
    </div>
  </div>

  <div class="container">
    <div class="desc">
      <p>{{confirm.desc}}</p>
    </div>
  </div>

  <div class="choice">
    <div class="text">
      <p>Are you sure?</p>
    </div>

    <div class="button-wrap">
      <button
        mat-flat-button
        color="primary"
      >
        Yes
      </button>
    </div>


  </div>

  <div class="button-cancel">
    <button
      mat-flat-button
    >
      No
    </button>
  </div>
</div>

<ng-template #empty>
  <p>empty confirm</p>
</ng-template>
