<mat-radio-button color="primary" value="primary">
  Primary
</mat-radio-button>

<!-- button -->
<div class="wrap">
  <button mat-flat-button color="primary">primary</button>
  <button mat-flat-button color="warn">warn</button>
  <button mat-flat-button color="accent">accent</button>

  <button mat-flat-button>without color attribute</button>
  <button mat-flat-button disabled>disabled</button>
</div>
<!-- checkbox -->
<div class="wrap">
  <mat-checkbox color="primary"></mat-checkbox>
  <mat-checkbox color="primary"></mat-checkbox>
</div>
<!-- select -->
<div class="wrap">
  <app-select [select]="select"></app-select>
</div>
<!-- dot -->
<div class="wrap flex">
  <gen-dot color="accent"></gen-dot>
  <gen-dot color="primary"></gen-dot>
  <gen-dot color="pink"></gen-dot>
  <gen-dot color="gradient"></gen-dot>
  <gen-dot color="green"></gen-dot>
  <gen-dot color="warn"></gen-dot>
  <gen-dot></gen-dot>
</div>
<!-- datepicker -->
<div class="wrap">
  <app-datepicker></app-datepicker>
</div>
<!-- input -->
<div class="wrap">
  <app-input [input]="input"></app-input>
  <app-input [input]="inputNotRequired"></app-input>
</div>
<!-- feedback -->
<div class="wrap">
  <app-feedback [feedbackInfo]="feedback"></app-feedback>
</div>
<!-- homework-status -->
<div class="wrap">
  <app-homework-status [homeworkStatus]="homeworkStatus"></app-homework-status>
  <app-homework-status [homeworkStatus]="homeWorkStatusFalse"></app-homework-status>
</div>
<!-- notification -->
<div class="wrap">
  <app-notification [notification]="notification"></app-notification>
</div>
<!-- confirm modal -->
<div class="wrap">
  <app-confirm [confirm]="confirm"></app-confirm>
</div>
<!-- modal -->
<div class="wrap">
  <app-modal [modal]="modalSuccess"></app-modal>
  <app-modal [modal]="modalDanger"></app-modal>
  <app-modal [modal]="modalWOImg"></app-modal>
</div>
<!-- card -->
<div class="wrap">
  <app-card [card]="card"></app-card>
  <app-card [card]="cardWOLastLesson"></app-card>
</div>
