<!-- drawer -->
<div class="wrap">
  <button
    (click)="createDrawer()"
    mat-flat-button
    color="accent"
  >
    open drawer
  </button>
  <ng-template drawerRef></ng-template>
</div>
<!-- button -->
<div class="wrap">
  <button mat-flat-button color="primary">primary</button>
  <button mat-flat-button color="warn">warn</button>
  <button mat-flat-button color="accent">accent</button>


  <button mat-flat-button>without color attribute</button>
  <button mat-flat-button color="test">test</button>
  <button mat-flat-button disabled>disabled</button>
</div>
<!-- checkbox -->
<div class="wrap">
  <mat-checkbox color="primary"></mat-checkbox>
  <mat-checkbox color="primary"></mat-checkbox>
</div>
<!-- select -->
<div class="wrap">
  <app-select [select]="select"></app-select>
</div>
<!-- dot -->
<div class="wrap flex">
  <div appDot color="warn"></div>
  <div appDot color="primary"></div>
  <div appDot color="accent"></div>
  <div appDot color="pink"></div>
  <div appDot color="gradient"></div>
  <div appDot color="green"></div>
</div>
<!-- datepicker -->
<div class="wrap">
  <app-datepicker></app-datepicker>
</div>
<!-- input -->
<div class="wrap">
  <app-input [input]="input"></app-input>
</div>
<!-- feedback -->
<div class="wrap">
  <app-feedback [feedbackInfo]="feedback"></app-feedback>
</div>
<!-- homework-status -->
<div class="wrap">
  <app-homework-status [homeworkStatus]="homeworkStatus"></app-homework-status>
  <app-homework-status [homeworkStatus]="homeWorkStatusFalse"></app-homework-status>
</div>
<!-- notification -->
<div class="wrap">
  <app-notification [notification]="notification"></app-notification>
</div>
<!-- confirm modal -->
<div class="wrap">
  <app-confirm [confirm]="confirm"></app-confirm>
</div>
<!-- modal -->
<div class="wrap">
  <app-modal [modal]="modalSuccess"></app-modal>
  <app-modal [modal]="modalDanger"></app-modal>
  <app-modal [modal]="modalWOImg"></app-modal>
</div>
<!-- card -->
<div class="wrap">
  <app-card [card]="card"></app-card>
  <app-card [card]="cardWOLastLesson"></app-card>
</div>
