@import '~@angular/material/theming';
@include mat-core();

// palette
$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;
$mat-primary: (
  50: #e8eaf6,
  100: #fab092,
  500: #FF7A3D,
  700: #ff6927,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
$mat-accent: (
  50: #e3f2fd,
  100: #bbdefb,
  500: #061283,
  700: #050c58,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
$mat-warn: (
  50: #ffebee,
  100: #ffcdd2,
  500: #f44336,
  700: #d32f2f,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$components-for-project-primary: mat-palette($mat-primary);
$components-for-project-accent: mat-palette($mat-accent);
$components-for-project-warn: mat-palette($mat-warn);
$components-for-project-theme: mat-light-theme((
  color: (
    primary: $components-for-project-primary,
    accent: $components-for-project-accent,
    warn: $components-for-project-warn
  )
));

@include angular-material-theme($components-for-project-theme);

// global
$primary-color: mat-color($components-for-project-primary);
$accent-color: mat-color($components-for-project-accent);
$warn-color: mat-color($components-for-project-warn);
$inactive-color: #DDE2E7;
$green-color: #67AC5B;
$blue-gradient: linear-gradient(90deg, #2C83DA 0%, #4AB7F8 100%);
$border-radius: 30px;

$main-img-height: 215px;
$main-img-width: 215px;
$menu-img-height: 85px;
$menu-img-width: 85px;

$input-padding: 15px 18px;

// button
$button-size: 20px;

// checkbox
$checkbox-height: 25px;
$checkbox-width: 25px;

// card student
$card-student-content-header-height: 46px;

$card-student-content-background: #fff;
$card-student-content-padding-horizontal: 14px;
$card-student-content-icon-size: 8px;

// drawer
$drawer-width: 254px;
$drawer-hr-color: #DDE2E7;
$drawer-padding: 14px;

$drawer-list-margin-bottom: 27px;

$drawer-footer-li-margin: 15px;

// dot
$dot-height: 20px;
$dot-width: 20px;
$dot-border-radius: 50%;
