// global
$orange-color: #FF7A3D;
$inactive-color: #DDE2E7;
$gray-color: #c2c2c2;
$blue-gradient: linear-gradient(90deg, #2C83DA 0%, #4AB7F8 100%);
$blue-color: #061283;
$green-color: #67AC5B;
$border-radius: 30px;

// checkbox
$checkbox-height: 25px;
$checkbox-width: 25px;

// card student
$card-student-content-header-height: 46px;

$card-student-content-background: #fff;
$card-student-content-img-height: 85px;
$card-student-content-img-width: 85px;

// drawer
$drawer-width: 254px;
$drawer-hr-color: #DDE2E7;
$drawer-padding: 14px;
$drawer-blue-color: #061283;

$drawer-list-margin-bottom: 27px;

$drawer-footer-li-margin: 15px;
